<section class="about-section" id="about">
  <div class="about-wrapper">
    <div class="about-image">
      <img src="assets/images/daya3.jpeg" alt="About Me Photo" />
    </div>
    <div class="about-content">
      <h2 class="about-heading">About Us</h2>
      <p class="about-aim">
        The aim is to always create strong and captivating images.
      </p>
      <p class="about-details">
        It is a long established fact that a reader will be distracted by the readable content of a page ...
      </p>
      <p class="about-details">
        Various versions have evolved over the years, sometimes by accident, sometimes on purpose...
      </p>
      <div class="about-sign">Gracia Faris</div>
    </div>
  </div>
</section>
